<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>courier-prime-italic.ttf</string>
		<string>courier-prime-code-regular.ttf</string>
		<string>moon30.ttf</string>
		<string>islabell.ttf</string>
		<string>top-secret.ttf</string>
		<string>coaster-black.ttf</string>
		<string>rainbow-colors-regular-yaq2.ttf</string>
		<string>vast-shadow-regular.ttf</string>
		<string>splendid-b.ttf</string>
		<string>elgethy-bold.ttf</string>
		<string>courier-prime-bold.ttf</string>
		<string>hilds.ttf</string>
		<string>exo2.0-regular.otf</string>
		<string>candle3d.ttf</string>
		<string>lucian-schoenschrift-cat.ttf</string>
		<string>MarkoOne-Regular.ttf</string>
		<string>times-old-attic.TTF</string>
		<string>moon15I.ttf</string>
		<string>subway-shadow.ttf</string>
		<string>courier-prime-code-italic.ttf</string>
		<string>hillock-brk-regular.ttf</string>
		<string>balonez-fantasia-br.ttf</string>
		<string>courier-prime-sans-italic.ttf</string>
		<string>packard-antique-bold.ttf</string>
		<string>courier-prime-sans-bold-italic.ttf</string>
		<string>nasalization-rg.ttf</string>
		<string>coaster-shadow.ttf</string>
		<string>lets-tracebasic.otf</string>
		<string>techfont.ttf</string>
		<string>chela-one-regular.ttf</string>
		<string>ChallengeShadow.ttf</string>
		<string>rothenburg-decorative-regular.ttf</string>
		<string>exo-regular.otf</string>
		<string>3d-noise.ttf</string>
		<string>hey-august.ttf</string>
		<string>moon00_i.ttf</string>
		<string>courier-prime-sans-bold.ttf</string>
		<string>neuropol-x-rg.otf</string>
		<string>packard-antique-regular.ttf</string>
		<string>moon30I.ttf</string>
		<string>offside-regular.ttf</string>
		<string>courier-prime-bold-italic.ttf</string>
		<string>subway-black.ttf</string>
		<string>technical-rounded-vp-thin-oblique.otf</string>
		<string>taurus-mono-outline-bold.otf</string>
		<string>Cute_Aurora_demo.ttf</string>
		<string>an-akronism.ttf</string>
		<string>vanessa.ttf</string>
		<string>youre-gone.otf</string>
		<string>ChallengeContour.ttf</string>
		<string>FredokaOne-Regular.ttf</string>
		<string>neuton-bold.ttf</string>
		<string>mouldy-cheese-regular-wymwg.ttf</string>
		<string>courier-prime-sans-regular.ttf</string>
		<string>special-elite.ttf</string>
		<string>11S0BLT.TTF</string>
		<string>gyneric-brk.ttf</string>
		<string>kanit-light.ttf</string>
		<string>bricemont.ttf</string>
		<string>IMFeENit29P.ttf</string>
		<string>DevinneSwash-qZd5.ttf</string>
		<string>IMFeENrm29P.ttf</string>
		<string>krungthep.ttf</string>
		<string>IMFeENsc29P.ttf</string>
		<string>new-academy.ttf</string>
		<string>SuperDream-ax3vE.ttf</string>
		<string>courier-prime-regular.ttf</string>
		<string>failed.ttf</string>
		<string>bubblegum-sans-regular.ttf</string>
		<string>beyond-wonderland.ttf</string>
		<string>berkshire-swash-regular.ttf</string>
		<string>aladin-regular.ttf</string>
		<string>koch-antiqua-zierbuchstaben.ttf</string>
		<string>indira-k.ttf</string>
		<string>moon15.ttf</string>
		<string>moon00.ttf</string>
		<string>solid-3d.ttf</string>
		<string>caracas-fina2.0.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UISupportsTrueScreenSizeOnMac</key>
	<true/>
</dict>
</plist>
